@font-face {
    font-family: "sangsang";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/sangsang/sangsang.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/sangsang/sangsang.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/sangsang/sangsang.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/sangsang/sangsang.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/sangsang/sangsang.ttf") format("truetype");
    font-display: swap;
}
.sangsang {
    font-family: "sangsang";
}
